* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  text-align: center;
}

.step-box {
  width: 300px;
  background-color: #eeeeee;
  margin :50px;
  display: inline-block;
  margin-left: 30px;
}

.step-img {
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  /* background-repeat: no-repeat;  */
  background-position: top;
  margin: 10px auto;
  text-align: left;
  width: 280px;
}

.step-img2 {
  background-image: url(img/flow02.png);
  height: 150px;
  margin: 10px auto;
  width: 280px;
  background-size: cover;
  background-position: bottom;
  /* background-repeat: no-repeat; */
}

.step-img3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
  margin: 10px auto;
  width: 280px;
}

.step-num {
  background-color: #ff9a4b;
  color: #eeeeee;
  float: left;
}

.title {
  padding: 15px 0 5px;
  margin: 10px auto;
  text-align: left;
  width: 280px;
}

.text {
  text-align: center;
  width: 280px;
  font-size: 5px;
  margin: 10px auto;
  text-align: left;
}

footer {
  background-color: #aaaaaa;
  width: 100%;
  height: 50px;
}
